<div class="container">
<div
  class="landing d-flex flex-column justify-content-center align-items-center"
>
  <p><i class="fa fa-search fa-2x" aria-hidden="true"></i></p>
  <h1>GitSearch-App</h1>
  <p>
    WELCOME!!!
    WELCOME!!
    WELCOME!
    to our website where users enter their GitHub username/anyone github username into a form, submit it, and see names and descriptions of that person's public repositories. A person can also look for repositories
  </p>
  <button class="btn"><a href="" routerLink="/profile-page" class="btn btn-danger">Let's get started</a></button>
</div>




  <div class="page-footer font-small unique-color-dark pt-4 myfoot">
  <div class="footer-copyright  text-center py-3 text-light">
    © 2021 Copyright:
    <p>Albunus Mutuku</p>
  </div>
  </div>
</div>
