<div class="container">
<div
  class="landing d-flex flex-column justify-content-center align-items-center"
>
  <p><i class="fa fa-search fa-2x" aria-hidden="true"></i></p>
  <h1>GitSearch-App</h1>
  <p>
    This is an app where you can search any GitHub username and it displays all
    profile details.
  </p>
  <a href="" routerLink="/profile" class="btn btn-danger">Let's get started</a>
</div>


<footer class="page-footer font-small unique-color-dark pt-4 myfoot">
  <div class="footer-copyright  text-center py-3 text-light">
    © 2021 Copyright:
    <p>Albunus Mutuku</p>
  </div>
</footer>
</div>
