*{
  background-color: aquamarine;
  width: 100%;margin-top: 0rem;
  font-size: 30px;
  border: solid 1rem green;

}
.btn{
  border-radius: 20px;
  height: 100px;
  width: 400px;
}
h1{
  align-items: center;
  text-align: center;
  font-size: 60px;
  color: brown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: cornflowerblue;
}
.para{
  width: 600px;
}
